<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.model.User">
    <id column="Id" jdbcType="CHAR" property="id" />
    <result column="UserID" jdbcType="VARCHAR" property="userid" />
    <result column="Account" jdbcType="VARCHAR" property="account" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="PhoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="Sex" jdbcType="INTEGER" property="sex" />
    <result column="Birthdate" jdbcType="TIMESTAMP" property="birthdate" />
    <result column="Portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="Type" jdbcType="INTEGER" property="type" />
    <result column="BizCode" jdbcType="VARCHAR" property="bizcode" />
    <result column="LastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CrateId" jdbcType="CHAR" property="crateid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, UserID, Account, Password, Name, PhoneNumber, Sex, Birthdate, Portrait, Status, 
    Type, BizCode, LastLoginTime, CreateTime, CrateId
  </sql>
  <select id="selectByExample" parameterType="com.sunyard.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where Id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.model.User">
    insert into user (Id, UserID, Account, 
      Password, Name, PhoneNumber, 
      Sex, Birthdate, Portrait, 
      Status, Type, BizCode, 
      LastLoginTime, CreateTime, CrateId
      )
    values (#{id,jdbcType=CHAR}, #{userid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{birthdate,jdbcType=TIMESTAMP}, #{portrait,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{bizcode,jdbcType=VARCHAR}, 
      #{lastlogintime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{crateid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="account != null">
        Account,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="phonenumber != null">
        PhoneNumber,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="birthdate != null">
        Birthdate,
      </if>
      <if test="portrait != null">
        Portrait,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="type != null">
        Type,
      </if>
      <if test="bizcode != null">
        BizCode,
      </if>
      <if test="lastlogintime != null">
        LastLoginTime,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="crateid != null">
        CrateId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="portrait != null">
        #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="bizcode != null">
        #{bizcode,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="crateid != null">
        #{crateid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.model.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.userid != null">
        UserID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        Account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenumber != null">
        PhoneNumber = #{record.phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        Sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.birthdate != null">
        Birthdate = #{record.birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.portrait != null">
        Portrait = #{record.portrait,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        Type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.bizcode != null">
        BizCode = #{record.bizcode,jdbcType=VARCHAR},
      </if>
      <if test="record.lastlogintime != null">
        LastLoginTime = #{record.lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crateid != null">
        CrateId = #{record.crateid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set Id = #{record.id,jdbcType=CHAR},
      UserID = #{record.userid,jdbcType=VARCHAR},
      Account = #{record.account,jdbcType=VARCHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      PhoneNumber = #{record.phonenumber,jdbcType=VARCHAR},
      Sex = #{record.sex,jdbcType=INTEGER},
      Birthdate = #{record.birthdate,jdbcType=TIMESTAMP},
      Portrait = #{record.portrait,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      Type = #{record.type,jdbcType=INTEGER},
      BizCode = #{record.bizcode,jdbcType=VARCHAR},
      LastLoginTime = #{record.lastlogintime,jdbcType=TIMESTAMP},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CrateId = #{record.crateid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.model.User">
    update user
    <set>
      <if test="userid != null">
        UserID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        PhoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        Birthdate = #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="portrait != null">
        Portrait = #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="bizcode != null">
        BizCode = #{bizcode,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null">
        LastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="crateid != null">
        CrateId = #{crateid,jdbcType=CHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.model.User">
    update user
    set UserID = #{userid,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      PhoneNumber = #{phonenumber,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=INTEGER},
      Birthdate = #{birthdate,jdbcType=TIMESTAMP},
      Portrait = #{portrait,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      Type = #{type,jdbcType=INTEGER},
      BizCode = #{bizcode,jdbcType=VARCHAR},
      LastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CrateId = #{crateid,jdbcType=CHAR}
    where Id = #{id,jdbcType=CHAR}
  </update>
</mapper>